.main-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 8vw;
    margin-right: 8vw;
    box-sizing: border-box;
}

.main-page-title {
    padding: 10px;
    font-size: 2.5rem;
    margin: 20px 0;
}